* {
    padding: 0;
    margin: 0;
    font-family: "Nunito Sans";
}

@font-face {
    font-family: "Nunito Sans";
    src: url("../../fonts/NunitoSans-Regular.ttf");
    font-weight: 300, 600, 800;
}

@keyframes fadein {
    from {
        opacity: 0%;
    }
    
    to {
        opacity: 100%;
    }
}

body {
    background-color: hsl(0, 0%, 98%);
}

.container {
    animation-name: fadein;
    animation-duration: 0.3s;
    max-width: 1440px;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: auto;
}

.principal {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100vw;
    max-height: 720px;
}

.header {
    box-shadow: 0 1px rgba(0, 0, 0, 0.1);
    max-width: 1440px;
    padding: 25px;
}

.back {
    display: flex;
    align-self: initial;
    padding: 3rem 3rem;
}

.button-back {
    width: 7rem;
    height: 2rem;
    border-radius: 3px;
    border: none;
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: center;
    background-size: 13px;
    background-image: url("../../imgs/seta.png");
    background-color: white;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

.button-back:hover {
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.1);
}


.details {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.flag {
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 400px;
}

.image-country {
    display: block;
    margin: auto;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.d-country {
    text-align: center;
    width: 80%;
}

.title {
    padding: 2rem 0;
}

.details-country {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 40%;
    padding-bottom: 2rem;
    font-weight: bold;
}

.sub-details {
    padding-bottom: 1rem;
}

.title {
    font-size: 25px;
    font-weight: bolder;
}

.border-countries {
    display: flex;
    flex-wrap: wrap;
    font-weight: bolder;
    justify-content: center;
}

.borders {
    font-weight: normal;
    text-align: center;
    padding: 2px 6px;
    margin-left: 4px;
    margin-bottom: 4px;
    border-radius: 3px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}


@media screen and (max-width: 924px)  {
    body{
        overflow: auto;
    }
    .details {
        flex-wrap: wrap;
    }

    .image-country {
        width: 80% !important;
        height: auto !important;
    }

    .d-country {
        margin: 0;
        text-align: center;
    }

    .details-country {
        display: block ; 
        height: auto;
    }
}

